doctype html
html
  head
    title= title
    != LRScript

    script(src='/socket.io/socket.io.js')
    != css('application.css')
    != js('application.js', { async: true })

  body
    block content