form.login-form(novalidate)
  fieldset.controls
    .row
      .input-field
        label Email:
        input(class='email' for='email' data-field='email' type='email')


    button(class='login-button-submit waves-effect' type='submit')
      | Entrar
      i.mdi-content-send