form.form-login(novalidate)
  fieldset.controls.s12
    .row
      label Username:
      input.username(for='username' data-field='username' type='text')
    .row
      label Email:
      input.email(for='email' data-field='email' type='email')

  button(class='button-submit' type='submit') login