form.form-login(novalidate)
  fieldset.controls
    .row
      .input-field
        label Email:
        input(class='email' for='email' data-field='email' type='email')


    button(class='button-submit' type='submit')
      | Entrar
      i.mdi-content-send