doctype html
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    != css('test.css')

  body
    div(id='mocha')

    .hidden
      nav
        .nav-region

      main.main-region
      .modal-region

    != js('test.js')